core/src/main/java/uk/ac/bbsrc/tgac/miso/core/service/integration/ws/solid/solid.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
  ~ Copyright (c) 2012. The Genome Analysis Centre, Norwich, UK
  ~ MISO project contacts: Robert Davey, Mario Caccamo @ TGAC
  ~ **********************************************************************
  ~
  ~ This file is part of MISO.
  ~
  ~ MISO is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MISO is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MISO. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ **********************************************************************
-->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://solid.aga.appliedbiosystems.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolidService" targetNamespace="http://solid.aga.appliedbiosystems.com">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified"
      targetNamespace="http://solid.aga.appliedbiosystems.com">
      <xs:complexType name="logMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="component" type="xs:string" />
          <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="details" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="severity" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="qualityMetrics">
        <xs:sequence>
          <xs:element name="cycle" type="xs:int" />
          <xs:element minOccurs="0" name="filePath" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="primer" type="xs:int" />
          <xs:element minOccurs="0" name="primerSet" type="xs:string" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="qualityMetricsDetails" nillable="true" type="tns:qualityMetricsDetails" />
          <xs:element minOccurs="0" name="sample" type="xs:string" />
          <xs:element minOccurs="0" name="timeStamp" type="xs:string" />
          <xs:element name="version" type="xs:int" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="qualityMetricsDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="statusLight" type="xs:string" />
          <xs:element minOccurs="0" name="threshold" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queueStatistics">
        <xs:sequence>
          <xs:element name="activeJobs" type="xs:int" />
          <xs:element minOccurs="0" name="activeNodeString" type="xs:string" />
          <xs:element name="blockedJobs" type="xs:int" />
          <xs:element name="idleJobs" type="xs:int" />
          <xs:element name="totalJobs" type="xs:int" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="libraryInfo">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="allPrimaryAnalysisResults" nillable="true" type="xs:string" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="allSecondaryAnalysisResults" nillable="true" type="xs:string" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="latestPrimaryAnalysisResults" nillable="true" type="xs:string" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="latestSecondaryAnalysisResults" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sampleInfo">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="libraryInfoList" nillable="true" type="tns:libraryInfo" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="primaryAnalysisStatus" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryAnalysisStatus" type="xs:string" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="run">
        <xs:sequence>
          <xs:element minOccurs="0" name="creator" type="xs:string" />
          <xs:element minOccurs="0" name="dateCompleted" type="xs:string" />
          <xs:element minOccurs="0" name="dateCreated" type="xs:string" />
          <xs:element minOccurs="0" name="dateStarted" type="xs:string" />
          <xs:element minOccurs="0" name="flowcellNum" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="instrumentName" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="numberOfSamples" type="xs:int" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="qualityMetrics" nillable="true" type="tns:qualityMetrics" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="sampleInfoList" nillable="true" type="tns:sampleInfo" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="clusterStatus">
        <xs:sequence>
          <xs:element name="avgLoad5" type="xs:double" />
          <xs:element minOccurs="0" name="clusterName" type="xs:string" />
          <xs:element minOccurs="0" name="diskSpaceImagesString" type="xs:string" />
          <xs:element name="diskSpaceImagesTotal" type="xs:long" />
          <xs:element name="diskSpaceImagesUsable" type="xs:long" />
          <xs:element minOccurs="0" name="diskSpaceResultsString" type="xs:string" />
          <xs:element name="diskSpaceResultsTotal" type="xs:long" />
          <xs:element name="diskSpaceResultsUsable" type="xs:long" />
          <xs:element name="numOfCPUs" type="xs:int" />
          <xs:element minOccurs="0" name="queueStats" type="tns:queueStatistics" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="queues" nillable="true" type="tns:jobQueue" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="jobQueue">
        <xs:sequence>
          <xs:element minOccurs="0" name="queueName" type="xs:string" />
          <xs:element name="queuedJobs" type="xs:int" />
          <xs:element name="runJobs" type="xs:int" />
          <xs:element minOccurs="0" name="xml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="#all" name="logMessageArray">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:logMessage" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="#all" name="runArray">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:run" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getLogMessagesResponse">
    <wsdl:part name="return" type="tns:logMessageArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClusterStatusResponse">
    <wsdl:part name="return" type="tns:clusterStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRunsByStatusResponse">
    <wsdl:part name="return" type="tns:runArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastStartedRunsResponse">
    <wsdl:part name="return" type="tns:runArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastStartedRuns">
  </wsdl:message>
  <wsdl:message name="getRunsByStatus">
    <wsdl:part name="arg0" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRun">
    <wsdl:part name="arg0" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="arg1" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRunResponse">
    <wsdl:part name="return" type="tns:runArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLogMessages">
    <wsdl:part name="severity" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="component" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="startDate" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="endDate" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="cleared" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClusterStatus">
  </wsdl:message>
  <wsdl:portType name="Solid">
    <wsdl:operation name="getClusterStatus">
      <wsdl:input message="tns:getClusterStatus" name="getClusterStatus">
      </wsdl:input>
      <wsdl:output message="tns:getClusterStatusResponse" name="getClusterStatusResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRun">
      <wsdl:input message="tns:getRun" name="getRun">
      </wsdl:input>
      <wsdl:output message="tns:getRunResponse" name="getRunResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogMessages">
      <wsdl:input message="tns:getLogMessages" name="getLogMessages">
      </wsdl:input>
      <wsdl:output message="tns:getLogMessagesResponse" name="getLogMessagesResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastStartedRuns">
      <wsdl:input message="tns:getLastStartedRuns" name="getLastStartedRuns">
      </wsdl:input>
      <wsdl:output message="tns:getLastStartedRunsResponse" name="getLastStartedRunsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRunsByStatus">
      <wsdl:input message="tns:getRunsByStatus" name="getRunsByStatus">
      </wsdl:input>
      <wsdl:output message="tns:getRunsByStatusResponse" name="getRunsByStatusResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SolidServiceSoapBinding" type="tns:Solid">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClusterStatus">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getClusterStatus">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="getClusterStatusResponse">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogMessages">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getLogMessages">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="getLogMessagesResponse">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRun">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getRun">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="getRunResponse">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastStartedRuns">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getLastStartedRuns">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="getLastStartedRunsResponse">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRunsByStatus">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getRunsByStatus">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:input>
      <wsdl:output name="getRunsByStatusResponse">
        <soap:body namespace="http://solid.aga.appliedbiosystems.com" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolidService">
    <wsdl:port binding="tns:SolidServiceSoapBinding" name="SolidPort">
      <soap:address location="http://149.155.210.232:8080/sets/webservice/solid" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>